body {
    background-color: purple;
}



h1 {
    color: plum;
    font-size: 50pt;
    font-family: 'Lobster', cursive;
}

h2 {
    color: teal;
    font-size: 35pt;
    font-family: 'Playfair Display', serif;
}

h3 {
    color: salmon;
    font-size: 20pt;
    font-family: 'Merriweather', serif;
}

p {
    color: burlywood;
    font-size: 11pt;
    font-family: 'Merriweather', serif;
}